<div class="container">
  <form action="" method="post" class="mx-auto d-flex flex-column flex-nowrap"
    style="min-width: 250px; max-width:700px;">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">網址輸入</span>
      </div>
      <input type="url" class="form-control" placeholder="請貼入網址..." required>
    </div>
    <button type="submit" class="btn btn-outline-primary rounded-pill mt-4 w-50 align-self-center">產生短網址</button>
  </form>
</div>